<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Home Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Tà Tưa</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">Đồ uống</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product_type">Loại đồ uống</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tutorial">demo tutorial</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-secondary" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav> 
    <br>
    <div>
      <div class="position-relative">
        <div class="position-absolute top-0 start-0"><h1>Trang chủ</h1></div>
        <div class="position-absolute top-0 end-0">
          <% if(user == null){ %>
            <a href="/login" class="btn btn-warning">Đăng nhập</a>
            <a href="/register" class="btn btn-secondary">Đăng ký</a>
          <% } else { %>
            <a href="/logout" class="btn btn-info">Đăng xuất/<span style="color: aliceblue;"><%= user.username %></span></a>
          <% } %>
        </div>
      </div>
      <br><br>
    </div>
</body>
</html>
 -->

 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="manifest" href="https://yevgenysim.github.io/touche/assets/favicon/manifest.json">
  <link rel="shortcut icon" href="/image/tea.png">
  <!-- Libs CSS -->
  <link rel="stylesheet" href="/css/libs.bundle.css">
  <!-- Theme CSS -->
  <link rel="stylesheet" href="/css/theme.bundle.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="/css/css2.css">
  <!-- Map -->
  <link rel="stylesheet" href="/src/css/mapbox-gl.css">
  <!-- Title -->
  <title>Tà tưa</title>
</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-dark navbar-expand-lg navbar-togglable fixed-top">
    <div class="container">

      <!-- Navbar brand (mobile) -->
      <a class="navbar-brand d-lg-none" href="/">Tàtưa</a>

      <!-- Navbar toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar collapse -->
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <!-- Navbar nav -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/product">Đồ uống</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/product_type">Loại đồ uống</a>
          </li>
        </ul>

        <!-- Navbar brand -->
        <a class="navbar-brand d-none d-lg-flex mx-lg-auto" href="/">
          Tàtưa
        </a>

        <!-- Navbar nav -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="/tutorial">Tutorial(demo)</a>
          </li>
          <% if(user==null) { %>
            <li class="nav-item">
              <a class="nav-link " href="/login">Đăng nhập/Đăng ký</a>
            </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link " href="/logout">Đăng xuất/<%= user.username %></a>
              </li>
              <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- WELCOME -->
  <header data-jarallax data-speed=".8" style="background-image: url(/image/1.jpg);">
    <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">
      <div class="container my-auto">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">

            <!-- Preheading -->
            <h6 class="text-xs text-white-75">
              <span class="text-primary">Trà Sữa</span> / Restaurant
            </h6>

            <!-- Heading -->
            <h1 class="display-1 text-white mb-4">
              Tàtưa
            </h1>

            <!-- Subheading -->
            <p class="text-center text-white-75 mb-7">
              A unique tea located in the heart of Haiphong. Always fresh coffee and biscuits. Open for indoor
              dining and to-go orders.
            </p>

            <!-- Button -->
            <a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0" href="#reservation">
              Make reservation
            </a>

          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md">

            <!-- Social links -->
            <ul class="list-inline text-center text-md-start mb-3 my-md-5">
              <li class="list-inline-item">
                <a class="text-white-75 text-primary-hover" href="#!">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item ms-5">
                <a class="text-white-75 text-primary-hover" href="#!">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item ms-5">
                <a class="text-white-75 text-primary-hover" href="#!">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>

          </div>
          <div class="col-md">

            <!-- Address -->
            <p class="font-serif text-white-75 text-center text-md-end text-lg-end my-md-5">
              <i class="fas fa-map-marker-alt text-primary me-3"></i> 1234 Dining Str., Los Angeles, CA 12345-0000
            </p>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- DISCOVER -->
  <section class="pt-7 pt-md-9">
    <div class="container">
      <div class="row">
        <div class="col-md-2">

          <!-- Divider -->
          <hr class="hr-sm bg-primary">

          <!-- Text -->
          <p class="fs-lg lh-lg text-black mb-5 mb-md-0">
            Take a coffee break or enjoy a meal.
          </p>

        </div>
        <div class="col-md-4">

          <!-- Media -->
          <div class="media-decoration media-decoration-1 mb-5 mb-md-0">

            <!-- Border -->
            <div class="media-decoration-border" data-jarallax-element="-40"></div>

            <!-- Image -->
            <img class="media-decoration-img img-fluid" src="/image/2.jpg" alt="...">

          </div>

        </div>
        <div class="col-md-5 align-self-center mx-auto">

          <!-- Heading -->
          <h2 class="mb-2">
            <em>Always</em> amazing experience
          </h2>

          <!-- Text -->
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum
            libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit,
            voluptatibus!
          </p>

        </div>
      </div>
    </div>
  </section>

  <!-- DISCOVER -->
  <section class="py-7 py-md-9">
    <div class="container">
      <div class="row">
        <div class="col-md-2 order-md-2 align-self-end">

          <!-- Divider -->
          <hr class="hr-sm bg-primary">

          <!-- Text -->
          <p class="fs-lg lh-lg text-black mb-5 mb-md-0">
            Great variety of foods you will enjoy.
          </p>

        </div>
        <div class="col-md-4 order-md-3">

          <!-- Media -->
          <div class="media-decoration media-decoration-1 mb-5 mb-md-0">

            <!-- Solid -->
            <div class="media-decoration-solid" data-jarallax-element="-40"></div>

            <!-- Border -->
            <div class="media-decoration-border" data-jarallax-element="-40"></div>

            <!-- Image -->
            <img class="media-decoration-img img-fluid" src="/image/7.jpg" alt="...">

          </div>

        </div>
        <div class="col-md-5 order-md-1 align-self-center mx-auto">

          <!-- Heading -->
          <h2 class="mb-2">
            <em>Beautiful</em> outdoor seating
          </h2>

          <!-- Text -->
          <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae similique asperiores consequatur! Nihil
            temporibus qui enim. Accusamus voluptates a, et quidem! Quo, et?
          </p>

        </div>
      </div>
    </div>
  </section>

  <!-- ABOUT -->
  <section data-jarallax data-speed=".8" style="background-image: url(/image/19.jpg)">
    <div class="min-vh-100 py-7 py-md-9 bg-gradient-bottom-end-white">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">

            <!-- Divider -->
            <hr class="hr-sm bg-primary">

            <!-- Text -->
            <p class="fs-lg lh-lg text-black mb-0">
              Enjoy our specialty coffees and award winning doughnuts in a friendly atmosphere.
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FOOTER -->
  <footer class="py-7 py-md-9 bg-black">
    <div class="container px-4">
      <div class="row gx-7">
        <div class="col-sm-4">

          <!-- Heading -->
          <h5 class="text-xs text-primary">
            About Us
          </h5>

          <!-- Text -->
          <p class="mb-6">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolorum, sint corporis nostrum, possimus
            unde eos vitae eius quasi saepe.
          </p>

        </div>
        <div class="col-sm-4">

          <!-- Heading -->
          <h5 class="text-xs text-primary">
            Contact info
          </h5>

          <!-- List -->
          <ul class="list-unstyled mb-6">
            <li class="d-flex mb-2">
              <div class="fas fa-map-marker-alt me-3 mt-2 fs-sm"></div>
              Hải Phòng
            </li>
            <li class="d-flex mb-2">
              <div class="fas fa-phone me-3 mt-2 fs-sm"></div>
              +1 987 654 3210
            </li>
            <li class="d-flex">
              <div class="far fa-envelope me-3 mt-2 fs-sm"></div> <a href="mailto:admin@domain.com">admin@domain.com</a>
            </li>
          </ul>

        </div>
        <div class="col-sm-4">

          <!-- Heading -->
          <h5 class="text-xs text-primary">
            Opening hours
          </h5>

          <!-- Text -->
          <div class="mb-3">
            <div class="text-xs">Monday - Thursday</div>
            <div class="font-serif">10:00 AM - 11:00 PM</div>
          </div>

          <!-- Text -->
          <div class="mb-6">
            <div class="text-xs">Friday - Sunday</div>
            <div class="font-serif">12:00 AM - 03:00 AM</div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <!-- Copyright -->
          <div class="d-flex align-items-center">
            <hr class="hr-sm me-3" style="height: 1px;" /> &copy; All rights reserved.
          </div>

        </div>
      </div>
    </div>
  </footer>


  <!--  -->
  <!-- TOAST -->
  <div class="toast position-fixed bottom-0 start-50 translate-middle-x mb-3 mb-md-5" id="notification" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body mx-auto"></div>
    </div>
  </div>

  <!-- JAVASCRIPT -->
  <!-- Vendor JS -->
  <script type="text/javascript" src="/js/vendor.bundle.js"></script>
  <!-- Theme JS -->
  <script type="text/javascript" src="/js/theme.bundle.js"></script>

</body>

</html>