<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutorial</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.2/dragula.css"> -->
  <link rel="stylesheet" href="css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="containerpage wrapper">
    <div id="top">
      <h1>Welcome to My Homepage</h1>
      <p>Use the menu to select different Stylesheets</p>
    </div>
    <div class="wrapper">
      <div id="menubar">
        <ul id="menulist">
          <li class="menufirst">Thành phần</li>
          <li class="menuitem" id="milk" onclick="reply_click(this.id)" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Sữa</li>
          <li class="menuitem" id="milk_powder" onclick="reply_click(this.id)" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Sữa bột</li>
          <li class="menuitem" id="sugar" onclick="reply_click(this.id)" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Đường</li>
          <div class="dropend">
            <li class="menuitem" data-bs-toggle="dropdown" aria-expanded="false">More</li>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <li class="menuitem" id="hot_water" onclick="reply_click(this.id)" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Nước ấm</li>
          <li class="menuitem" id="tea" onclick="reply_click(this.id)" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Trà</li>
          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p id="modal-name">okok</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Ok</button>
                </div>
              </div>
            </div>
          </div>

        </ul>
      </div>
      <div id="main">
        <h3>Lựa chọn nhiên liệu</h3>
        <div id="cuptype">
          <ul id="listcups">
            <li class="cup" onclick="document.getElementById('myCup').src='/image/plastic-cup.png'">Size M: 500ml</li>
            <li class="cup" onclick="document.getElementById('myCup').src='/image/plastic-cup700.png'">Size L: 700ml</li>
          </ul>
        </div>
        <div id="board">
          <img id="myCup" width="45%" height="80%">

        </div>
        <img src="image/demo.gif" alt="demo">
        <p>Learn how to create a draggable HTML element with JavaScript and CSS.Learn how to create a draggable HTML
          element with JavaScript and CSS.Learn how to create a draggable HTML element with JavaScript and CSS.</p>
      </div>
      <div id="sidebar">
        <h3>Thông tin</h3>
      </div>
    </div>
    <div id="bottom">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
      dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
      lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
      esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio
      dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
    </div>
  </div>
  <script type="text/javascript">
    function reply_click(clicked_id) {
      var str;
      if (clicked_id == "milk") {
        str = "Sữa";
      } else if (clicked_id == "milk_powder") {
        str = "Sữa bột";
      } else if (clicked_id == "sugar") {
        str = "Đường";
      } else if (clicked_id == "hot_water") {
        str = "Nước nóng";
      } else if (clicked_id == "tea") {
        str = "Trà";
      }
      // alert(clicked_id);
      document.getElementById("staticBackdropLabel").innerHTML = str;
    }
  </script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.2/dragula.js"></script> -->
  <script src="js/script.js"></script>
</body>

</html>