<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.2/dragula.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container wrapper">
        <div id="top">
          <h1>Welcome to My Homepage</h1>
          <p>Use the menu to select different Stylesheets</p>
        </div>
        <div class="wrapper">
         <div id="menubar">
           <ul id="menulist">
               <li class="menufirst">Thành phần</li>
               <li class="menuitem">Sua</li>
               <li class="menuitem">Nuoc</li>
               <li class="menuitem">Sua</li>
               <li class="menuitem">Nuoc</li>
               <li class="menuitem">Sua</li>
               <li class="menuitem">Nuoc</li>
               <li class="menuitem">Sua</li>
               <li class="menuitem">Nuoc</li>
           </ul>
          </div>
          <div id="main">
            <h3>Lựa chọn nhiên liệu</h3>
            <div id="cuptype">
              <ul id="listcups">
                <li class="cup">Size M: 500ml</li>
                <li class="cup">Size L: 700ml</li>
              </ul>
            </div>
            <div id="board">

            </div>
            <img src="image/demo.gif" alt="demo">
            <p>Learn how to create a draggable HTML element with JavaScript and CSS.Learn how to create a draggable HTML element with JavaScript and CSS.Learn how to create a draggable HTML element with JavaScript and CSS.</p>
         </div>
          <div id="sidebar">
            <h3>Thông tin</h3>
          </div>
        </div>  
        <div id="bottom">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        </div>
    </div>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.2/dragula.js"></script>
    <script src="js/script.js"></script>  
</body>
</html>